.header-secondary {
    padding: 10px;
    border: none;
    color: rgba(255, 255, 255, 0.85);
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
.nav-horizontal li {
    float: left;
    margin: 0 5px;
}

.nav-horizontal li a i{
    margin-right:10px;
    color: #ccc;
}
.nav-horizontal li a i:hover{
    color: #fff;
}
.nav-horizontal li a{
    color: #ccc;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: inherit;
    color: #fff;
}
.navbar-nav li{
    padding: 10px 7px;
}

.navbar-inverse {
    top: 50px;
}
#welcome{
    background:#181015 url(../images/bg_header.jpg) no-repeat;
    background-size:cover;
    min-height: 465px;
    text-align:center;
    padding-top: 80px;
    color:white;
    font-family:"Open sans", Helvetica, Arial;
    overflow: hidden;
    
}

#welcome h1{
    font-size: 4.5rem;
    font-weight:bolder;
}

#welcome p{
    font-size: 2.1rem;
    
}
.section-title h1, .section-title h2{
    text-align:center;
}
.section-title p{
    text-align:center;
}

.section-title a{
    margin-left: 42%;
}
.line {
    width: 10%;
    background: #343a40;
    height: 5px;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
}

section{
    background-color: #f8f9fa!important;
    padding: 20px 0px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.thumbnail h4 {
    font-weight: 600;
    text-align:center;
    margin-top: 10px;
    font-size: 18px;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
}
.thumbnail>img, .thumbnail a>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.thumbnail a {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: black!important;
}
